html
    head
        block title
            title default newPage
        link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet",href="/css/default.css")
        link(rel="stylesheet",href="/css/loader.css")
body
    div.container-fluid
        block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/backbone/backbone-min.js')
    block scripts
    include ./_modal
    script(src='/js/loadingImage.js')